@react_logo: "./images/react.png";

.admin {
	height: 100vh;
	.admin-main {
		height: 100vh;
		position: relative;
		background-color: #ebeef2;
		// background: linear-gradient(#F7F3FB, #F7F3FB);
		.admin-header {
			background-color: skyblue;
		}
		.admin-content {
			padding: 16px;
			min-height: 280px;
			height: 100%;
			border-radius: 10px;
			margin: 10px 20px 60px;
			box-shadow: 3px 3px 6px #ccc;
			background-color: #fff;
			// overflow: auto;
			display: inline;
		}
		.footer {
			position: absolute;
			width:100%;
			bottom: 0px;
			padding: 0;
			text-align: center;
			line-height: 48px;
			background-color: #002140;
			color: #ddedfd;
			height: 48px;
		}
	}
}
