.login {
	// overflow: hidden;
	&::before { // 背景图片
		content: "";
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-image: url("./images/login.jpg");
		background-size: cover;
		// filter: blur(4px);
		z-index: -999;
	}
	h1 {
		font-size: 40px;
		margin-left: 30px;
		padding-top: 20px;
		color: white;
		text-shadow: 8px 6px 5px  #000;
	}
	h2 {
		text-align: center;
		padding: 20px;
	}
	.loginForm {
		width: 500px;
		height: 300px;
		margin: auto;
		margin-top: 160px;
		background-color: #F3F3F4;
		// background: linear-gradient(rgb(232, 223, 224), rgb(225, 221, 218), rgb(218, 218, 212), rgb(211, 216, 207), rgb(204, 213, 201));
		opacity: 85%;
		border-radius: 10px;
		box-shadow: 8px 6px 10px -4px #757b7d;
	}
}

.center {
	padding-bottom: 10px;
	margin-left: 30px;
}